<div class="text-900 font-bold text-2xl mb-4 text-center">Nuevo Usuario</div>

<div [formGroup]="formNuevoBot" class="card">

  <p-panel header="Datos de Usuario" class="line-height-12 m-0">
    <!-- INICIO DE INPUTS -->
    <br>
    <div class="p-fluid p-formgrid grid">

      <div class="field col-12 md:col-4">

        <span class="p-float-label">
          <input
            [ngClass]="{'ng-invalid ng-dirty': formNuevoBot.get('email')?.errors != null && formNuevoBot.get('email')?.touched == true}"
            type="text" pInputText formControlName="email">
          <label>Usuario</label>
        </span>
      </div>

      <div class="field col-12 md:col-4">
        <span class="p-float-label">
          <input
            [ngClass]="{'ng-invalid ng-dirty': formNuevoBot.get('pWd')?.errors != null && formNuevoBot.get('pWd')?.touched == true}"
            type="text" pInputText formControlName="pWd">
          <label>Contraseña</label>
        </span>
      </div>
      <div class="field col-12 md:col-4">
        <p-dropdown optionLabel="nombre" optionValue="nombre"
          [ngClass]="{'ng-invalid ng-dirty': formNuevoBot.get('role')?.errors != null && formNuevoBot.get('role')?.touched == true}"
          [options]="rolArr" [showClear]="true" placeholder="Rol del sistema" formControlName="role">
        </p-dropdown>
      </div>






      <!-- BOTON DE VALICACION DE DATOS -->

      <!-- BOTON DE EJECUCION -->
      <div class="col lg:col-12">

        <div class="grid flex justify-content-center">
          <div class="col-3 text-center">
            <p-button label="Guardar" icon="pi pi-save" styleClass="mr-2 mb-2" [loading]="guardando"
              (onClick)="guardarUser()"></p-button>


          </div>
        </div>
      </div>
    </div>
  </p-panel>
  <br>

</div>
<p-toast key="tst" [baseZIndex]="99999"></p-toast>