:host ::ng-deep ::-webkit-scrollbar-thumb:horizontal {
    background-color: #00B2A9;
  }
  :host ::ng-deep ::-webkit-scrollbar-thumb:vertical {
    background-color: #00B2A9;
    // opacity: 0.5;
  }
  
  ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    color: white;
    background-color: #00B2A9; /* Cambia el color de la página activa del paginador */
  }
  .p-button:active {
    box-shadow: #00B2A9;
  }
  ::ng-deep .p-calendar .p-button-icon-only {
    background-color: #00B2A9 !important;
  }
  
  