<div class="text-900 font-bold text-2xl mb-4 text-center" style="background-color: #FF671F ;color: white !important;">Importar bases Creación de Orden</div>

<div class="card" style="padding-left: 1rem;">
  <p-panel header=""
    class="line-height-12 m-0">
    <!-- INICIO DE INPUTS -->
    <!-- <h5>Tipo de Cuenta</h5> -->
      <div class="p-fluid p-formgrid grid m-2 flex justify-content-center">
        <div class="col-6 text-center">
            <input type="file" id="file" accept=".csv,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" (change)="readExcel($event)">
            <!-- <p-progressSpinner *ngIf="spinner"></p-progressSpinner> -->
        </div>
    </div>
    <div class="grid flex justify-content-center">
        <div class="col-4 text-center">
            <button
            mat-button 
            (click)="saveExcel()"
            pButton
            [disabled]="button"
            label="Importar Base"
            style="width:auto; background-color: #FF671F;border: 0;"></button>      
        </div>
    </div>

  </p-panel>
  <br>

</div>
<p-toast
  [baseZIndex]="99999"
  key="tst"></p-toast>

  <div class="row" *ngIf="tabla">
    <div class="cols">
      <div class="card">
        <p-table #dt1 [value]="ExcelData" dataKey="Caso de negocio" [rows]="50" [rowHover]="true" [rowsPerPageOptions]="[50,100,500,1000]"
            styleClass="p-datatable-gridlines" [paginator]="true"
            responsiveLayout="scroll">
            <!-- <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">

                    <span class="p-input-icon-left mb-2">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Buscar"
                            class="w-full" />
                    </span>
                </div>
            </ng-template> -->
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Cuenta
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Caso de Negocio
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Categoria

                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Estado

                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Fecha de Apertura
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Medio de Contacto
                        </div>
                    </th>
                    <th>
                      <div class="flex justify-content-between align-items-center">
                          Motivo del Cliente
                      </div>
                    </th>
                    <th>
                      <div class="flex justify-content-between align-items-center">
                          Motivos
                      </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Solución
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Submotivo
                        </div>
                    </th>  
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-i="rowIndex">
                <tr>
                    <td>
                        {{item.Cuenta}}
                    </td>
                    <td>
                        {{item['Caso de negocio']}}
                    </td>
                    <td>
                      {{item.Categoria}}
                    </td>
                    <td>
                        {{item.Estado}}
                    </td>
                    <td>
                        {{ dateFormat(item['Fecha de apertura']) }}
                    </td>
                    <td>
                       {{item['Medio de contacto']}}
                    </td>
                    <td>
                      {{item['Motivo Cliente']}}
                    </td>
                    <td>
                      {{item.Motivos}}
                    </td>
                    <td>
                      {{item['Solución']}}
                    </td>
                    <td>
                        {{item.Submotivo}}
                    </td>
          
    
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">Sin Datos para Mostrar.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="7">Cargando Datos, espere...</td>
                </tr>

            </ng-template>
            <ng-template pTemplate="paginatorleft" let-state>
                Mostrando {{(state.page  * state.rows) + 1}} a {{state.rows * (state.page + 1)}} de {{state.totalRecords}} registros.
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
