<div class="row">
    <div class="col-12">
        <div class="card" style="margin-left: -1rem;margin-right: -1rem;">
            <p-panel header="Estadísticas Cancelación Sin Validación" class="line-height-12 m-0" >
        
                <div class="p-grid p-dir-col p-nogutter">
                    <div class="p-col">
                        <p-table [value]="stats"  [scrollable]="true" [scrollHeight]="'auto'" [responsive]="true" class="flex align-items-center justify-content-center centered-table p-datatable-responsive" >
                            <ng-template pTemplate="header" >
                                <tr >
                                    <th style="background-color: #3B82F6; color: white;">Pendientes</th>
                                    <th style="background-color: #3B82F6; color: white;">Procesando</th>
                                    <th style="background-color: #3B82F6; color: white;">Error</th>
                                    <th style="background-color: #3B82F6; color: white;">Completadas</th>
                                    <th style="background-color: #3B82F6; color: white;">Total</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-product>
                                <tr>
                                    <td style="justify-content: center;">{{ product.pendientes }}</td>
                                    <td style="justify-content: center;">{{ product.procesando }}</td>
                                    <td style="justify-content: center;">{{ product.error }}</td>
                                    <td style="justify-content: center;">{{ product.completado }}</td>
                                    <td style="justify-content: center;">{{ product.total }}</td>
                                </tr>
                            </ng-template>
                        </p-table>
        
                    </div>
                  </div>
        
            </p-panel>
        </div>
        
    </div>
</div>

<div class="row" >
    <div class="cols">
      <div class="card">
        <p-table #dt1 [value]="migraciones" dataKey="id" [rows]="50" [rowHover]="true" [rowsPerPageOptions]="[50,100,500,1000]"
            styleClass="p-datatable-gridlines" [paginator]="true"
            [globalFilterFields]="['cuenta','nombreCliente','paqueteOrigen','canal','os','cn','status','estatus','usuario','cve_usuario','ip','procesando']" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">

                    <span class="p-input-icon-left mb-2">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Buscar"
                            class="w-full" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <div style="width: 100px;" class="flex justify-content-center align-items-center">
                            Fecha Recibido BO
                            
                        </div>
                    </th>
                    <th>
                        <div style="width: 100px;" class="flex justify-content-center align-items-center">
                            Fecha BEN Otorgado
                        </div>
                    </th>  
                    <th>
                        <div class="flex justify-content-center align-items-center">
                            Cuenta
                        </div>
                    </th>  
                    <th>
                        <div class="flex justify-content-center align-items-center">
                            Nombre del Cliente
                        </div>
                    </th>  
                    <th>
                        <div class="flex justify-content-center align-items-center">
                            Paquete Origen
                        </div>
                    </th>  
                    <th>
                        <div class="flex justify-content-center align-items-center">
                            Beneficio Otorgado
                        </div>
                    </th>  
                    <th>
                        <div class="flex justify-content-center align-items-center">
                            Canal
                        </div>
                    </th>

                    <th>
                        <div class="flex justify-content-center align-items-center">
                            OS
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-center align-items-center">
                            CN
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-center align-items-center">
                            Status
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-center align-items-center">
                            SubMotivo
                        </div>
                    </th>
                    <th>
                        <div style="width: 100px;" class="flex justify-content-center align-items-center">
                            Fecha de Carga
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-center align-items-center">
                            Usuario
                        </div>
                    </th>
                    <th>
                        <div style="width: 100px;" class="flex justify-content-center align-items-center">
                            Fecha de Envio a Ciber
                        </div>
                    </th>

                    <th>
                        <div style="width: 100px;" class="flex justify-content-center align-items-center">
                            Fecha Caputra
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-center align-items-center">
                            Estatus

                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-center align-items-center">
                            Procesando
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-center align-items-center">
                            Usuario Registro
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-center align-items-center">
                            IP
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-i="rowIndex">
                <tr>
                    <td class="text-center">
                        {{dateFormat(item.fechaRecibidoBO)}}
                    </td>
                    <td class="text-center">
                        {{dateFormat(item.fechaBenOtorgada)}}
                    </td>
                    <td class="text-center">
                        {{item.cuenta}}
                    </td>
                    <td class="text-center">
                        {{item.nombreCliente}}
                    </td>
                    <td class="text-center">
                        {{item.paqueteOrigen}}
                    </td>
                    <td class="text-center">
                        {{item.beneficioOtorgado}}
                    </td>
                    <td class="text-center">
                      {{item.canal}}
                    </td>
                    <td class="text-center">
                      {{item.os}}
                    </td>
                    <td class="text-center">
                       {{item.cn}}
                    </td>
                     <td class="text-center">
                        {{item.estatus}}
                    </td>
                    <td class="text-center">
                        {{item.subMotivo}}
                    </td>
                    <td class="text-center">
                        {{dateFormat1(item.fechaCarga)}}
                    </td>
                    <td class="text-center">
                        {{item.usuario}}
                    </td>
                    <td class="text-center">
                        {{dateFormat(item.fechaEnvioCiber)}}
                    </td>
                    <td class="text-center">
                        {{item.fechaCaptura}}
                    </td>
                    <td class="text-center">
                        {{item.status}}
                    </td>
                    <td class="text-center">
                        {{item.procesando == 0 ? "No" : "Si"}}
                    </td>
                    <td class="text-center">
                        {{item.cve_usuario}}
                    </td>
                    <td class="text-center">
                        {{item.ip}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">Sin Datos para Mostrar.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="7">Cargando Datos, espere...</td>
                </tr>

            </ng-template>
            <ng-template pTemplate="paginatorleft" let-state>
                Mostrando {{(state.page  * state.rows) + 1}} a {{state.rows * (state.page + 1)}} de {{state.totalRecords}} registros.
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

  <br><br>
