<div class="row">
    <div class="col-12">
        <div class="card" style="margin-left: -1rem;margin-right: -1rem;">
            <p-panel header="Estadísticas Casos de Negocio Sin Validación" class="line-height-12 m-0" >
        
                <div class="p-grid p-dir-col p-nogutter">
                    <div class="p-col">
                        <p-table [value]="stats"  [scrollable]="true" [scrollHeight]="'auto'" [responsive]="true" class="flex align-items-center justify-content-center centered-table p-datatable-responsive" >
                            <ng-template pTemplate="header" >
                                <tr >
                                    <th style="background-color: #00B2A9; color: white;">Pendientes</th>
                                    <th style="background-color: #00B2A9; color: white;">Procesando</th>
                                    <th style="background-color: #00B2A9; color: white;">Error</th>
                                    <th style="background-color: #00B2A9; color: white;">Completadas</th>
                                    <th style="background-color: #00B2A9; color: white;">Total</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-product>
                                <tr>
                                    <td style="justify-content: center;">{{ product.pendientes }}</td>
                                    <td style="justify-content: center;">{{ product.procesando }}</td>
                                    <td style="justify-content: center;">{{ product.error }}</td>
                                    <td style="justify-content: center;">{{ product.completado }}</td>
                                    <td style="justify-content: center;">{{ product.total }}</td>
                                </tr>
                            </ng-template>
                        </p-table>
        
                    </div>
                  </div>
        
            </p-panel>
        </div>
        
    </div>
</div>

<div class="row" >
    <div class="cols">
      <div class="card">
        <p-table #dt1 [value]="casosNegocio" dataKey="id" [rows]="50" [rowHover]="true" [rowsPerPageOptions]="[50,100,500,1000]"
            styleClass="p-datatable-gridlines" [paginator]="true"
            [globalFilterFields]="['cuenta','categoria','motivos','submotivos','solucion','motivoCliente','cve_usuario','status','ip','procesando']" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">

                    <span class="p-input-icon-left mb-2">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Buscar"
                            class="w-full" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <div class="flex justify-content-center align-items-center">
                            Cuenta
                            
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-center align-items-center">
                            Categoría
                        </div>
                    </th>  
                    <th>
                        <div class="flex justify-content-center align-items-center">
                            Motivos
                        </div>
                    </th>  
                    <th>
                        <div class="flex justify-content-center align-items-center">
                            Submotivo
                        </div>
                    </th>  
                    <th>
                        <div class="flex justify-content-center align-items-center">
                            Solución
                        </div>
                    </th>  
                    <th>
                        <div class="flex justify-content-center align-items-center">
                            Motivo Cliente
                        </div>
                    </th> 
                    <th>
                        <div class="flex justify-content-center align-items-center">
                            Usuario
                        </div>
                    </th> 
                    <th >
                        <div style="width: 150px;" class="flex justify-content-center align-items-center">
                            Fecha Completado
                        </div>
                    </th> 
                    <th>
                        <div style="width: 150px;" class="flex justify-content-center align-items-center">
                            Fecha Caputra
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-center align-items-center">
                            Status

                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-center align-items-center">
                            Procesando
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-center align-items-center">
                            IP
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-center align-items-center">
                            Comentarios
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-i="rowIndex">
                <tr>
                    <td class="text-center">
                        {{item.cuenta}}
                    </td>
                    <td class="text-center">
                        {{item.categoria}}
                    </td>
                    <td class="text-center">
                        {{item.motivos}}
                    </td>
                    <td class="text-center">
                        {{item.submotivos}}
                    </td>
                    <td class="text-center">
                        {{item.solucion}}
                    </td>
                    <td class="text-center">
                        {{item.motivoCliente}}
                    </td>
                    <td class="text-center">
                      {{item.cve_usuario}}
                    </td>
                    <td class="text-center">
                      {{dateFormat(item.fechaCompletado)}}
                    </td>
                    <td class="text-center">
                        {{dateFormat(item.fechaCaptura)}}
                    </td> 
                    <td class="text-center">
                        {{item.status}}
                    </td>  
                    <td class="text-center">
                       {{item.procesando == 0 ? "No":"Si"}}
                    </td>
                     <td class="text-center">
                        {{item.ip}}
                    </td>
                    <td class="text-center">
                        {{item.comentarios}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">Sin Datos para Mostrar.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="7">Cargando Datos, espere...</td>
                </tr>

            </ng-template>
            <ng-template pTemplate="paginatorleft" let-state>
                Mostrando {{(state.page  * state.rows) + 1}} a {{state.rows * (state.page + 1)}} de {{state.totalRecords}} registros.
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

  <br><br>
