<div class="text-900 font-bold text-2xl mb-4 text-center">Hubs</div>
<div class="p-fluid p-formgrid grid">

</div>
<div class="card">
    <p-panel header="Hubs a Depurar" class="line-height-12 m-0">
        <form [formGroup]="formReembolso">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <input
                        [ngClass]="{'ng-invalid ng-dirty': formReembolso.get('Cuenta')?.errors != null && formReembolso.get('Cuenta')?.touched == true}"
                        type="text"
                        pInputText
                        formControlName="hubs">
                        <label>Ingresa Hub</label>
                    </span>
                </div>
            </div>
            <div class="grid flex justify-content-center">
                <div class="col-4 text-center">
                    <button
                    (click)="verify()"
                    pButton
                    label="Enviar"
                    style="width:auto;"></button>      
                </div>
            </div>
        </form>
    </p-panel>
</div>
<p-dialog
  [closable]="closeModal"
  header="Guardar"
  [(visible)]="display"
  [modal]="true"
  showEffect="fade"
  [style]="{width: '30vw'}"
  [breakpoints]="{'960px': '75vw'}">
  <p class="line-height-3 m-0">
        Los datos a guardar son los siguientes:
    </p>

  <ul>
    <li>Hub a subir: <strong>{{formReembolso.value.hubs}}</strong></li>
  </ul>
  <ng-template pTemplate="footer">

    <loading-button
      label="Guardar"
      labelLoad="Guardando"
      [loading]="enviando"
      (click)="sendData()"></loading-button>

  </ng-template>
</p-dialog>

<p-toast
  [baseZIndex]="99999"
  key="tst"></p-toast>

  <div class="row">
    <div class="cols">
      <div class="card">
        <p-table #dt1 [value]="tablahubs" dataKey="id" [loading]="loading" [rows]="50" [rowHover]="true" [rowsPerPageOptions]="[50,100,500,1000]"
            styleClass="p-datatable-gridlines" [paginator]="true"
            [globalFilterFields]="['hubs','usuario','FechaCaptura']" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">

                    <span class="p-input-icon-left mb-2">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Buscar"
                            class="w-full" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Hubs

                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Usuario

                        </div>
                    </th>
                    <th>
                        <div style="width: 150px;" class="flex justify-content-between align-items-center">
                            Fecha de Captura
                        </div>
                    </th>
                    <th>
                        <div style="width: 150px;" class="flex justify-content-between align-items-center">
                            Eliminar
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-i="rowIndex">
                <tr>
                    <td>
                        {{item.hubs}}
                    </td>
                    <td>
                        {{item.usuario}}
                    </td>
                    <td>
                        {{item.fechaCaptura | date:'yyyy-MM-dd HH:mm:ss'}}
                    </td>
                    <td>
                        <button class="delete" (click)="eliminarColumna(item.id)">Eliminar</button>
                    </td>         
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">Sin Datos para Mostrar.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="7">Cargando Datos, espere...</td>
                </tr>

            </ng-template>
            <ng-template pTemplate="paginatorleft" let-state>
                Mostrando {{(state.page  * state.rows) + 1}} a {{state.rows * (state.page + 1)}} de {{state.totalRecords}} registros.
          </ng-template>
        </p-table>
      </div>
      <p-confirmDialog header="Eliminar Hub" key="deleteColumn" icon="pi pi-exclamation-triangle"
        acceptLabel="Sí, Eliminar" rejectLabel="Cancelar" [style]="{width: '350px'}"
        acceptButtonStyleClass="p-button-danger" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
    </div>
  </div>