<div class="text-900 font-bold text-2xl mb-4 text-center" style="background-color: #FC760F;color: white !important;">Extracción</div>

<div [formGroup]="formExtraccion">
    <div class="card" style="padding-left: 1rem;">
        <p-panel header=""
          class="line-height-12 m-0">
          <!-- INICIO DE INPUTS -->
          <!-- <h5>Tipo de Cuenta</h5> -->
          <div class="p-fluid p-formgrid grid">
              <div class="field col-12 md:col-4">
                  <p-dropdown
                  [options]="tipoExtraccion"
                  [showClear]="true"
                  placeholder="Tipo de Extracción"
                  formControlName="tipoExtraccion"
                  [ngClass]="{'ng-invalid ng-dirty': formExtraccion.get('tipoExtraccion')?.errors != null && formExtraccion.get('tipoExtraccion')?.touched == true}"
                  >
                  </p-dropdown>
              </div>

              <div class="field col-12 md:col-4" *ngIf="formExtraccion.controls['tipoExtraccion'].value == 'Cuenta' || formExtraccion.controls['tipoExtraccion'].value == 'Casos de negocio' || formExtraccion.controls['tipoExtraccion'].value == 'Actividades' || formExtraccion.controls['tipoExtraccion'].value == 'Ordenes de servicio'">
                <span class="p-float-label">
                    <input
                    type="text"
                    pInputText
                    [ngClass]="{'ng-invalid ng-dirty': formExtraccion.get('estado')?.errors != null && formExtraccion.get('estado')?.touched == true}"
                    formControlName="estado"
                    >
                    <label>Estado</label>
                </span>
              </div>
              <div class="field col-12 md:col-4" *ngIf="formExtraccion.controls['tipoExtraccion'].value == 'Cuenta'">
                <span class="p-float-label">
                    <input
                    type="text"
                    pInputText
                    [ngClass]="{'ng-invalid ng-dirty': formExtraccion.get('tipo')?.errors != null && formExtraccion.get('tipo')?.touched == true}"
                    formControlName="tipo"
                    >
                    <label>Tipo</label>
                </span>
              </div>
              <div class="field col-12 md:col-4" *ngIf="formExtraccion.controls['tipoExtraccion'].value == 'Cuenta'">
                <span class="p-float-label">
                    <input
                    type="text"
                    pInputText
                    [ngClass]="{'ng-invalid ng-dirty': formExtraccion.get('subtipo')?.errors != null && formExtraccion.get('subtipo')?.touched == true}"
                    formControlName="subtipo"
                    >
                    <label>Sub Tipo</label>
                </span>
              </div>
              <!-- <div class="field col-12 md:col-4" *ngIf="formExtraccion.controls['tipoExtraccion'].value == 'Cuenta'">
                <span class="p-float-label">
                    <input
                    type="text"
                    pInputText
                    [ngClass]="{'ng-invalid ng-dirty': formExtraccion.get('canalIngreso')?.errors != null && formExtraccion.get('canalIngreso')?.touched == true}"
                    formControlName="canalIngreso"
                    >
                    <label>Canal de Ingreso</label>
                </span>
              </div> -->

              <div class="field col-12 md:col-4" *ngIf="formExtraccion.controls['tipoExtraccion'].value == 'Casos de negocio'">
                <span class="p-float-label">
                    <input
                    type="text"
                    pInputText
                    [ngClass]="{'ng-invalid ng-dirty': formExtraccion.get('numCaso')?.errors != null && formExtraccion.get('numCaso')?.touched == true}"
                    formControlName="numCaso"
                    >
                    <label>Número de Caso</label>
                </span>
              </div>
              <div class="field col-12 md:col-4" *ngIf="formExtraccion.controls['tipoExtraccion'].value == 'Casos de negocio'">
                <span class="p-float-label">
                    <input
                    type="text"
                    pInputText
                    [ngClass]="{'ng-invalid ng-dirty': formExtraccion.get('cuenta')?.errors != null && formExtraccion.get('cuenta')?.touched == true}"
                    formControlName="cuenta"
                    >
                    <label>Cuenta</label>
                </span>
              </div>
              <div class="field col-12 md:col-4" *ngIf="formExtraccion.controls['tipoExtraccion'].value == 'Casos de negocio'">
                <span class="p-float-label">
                    <input
                    type="text"
                    pInputText
                    [ngClass]="{'ng-invalid ng-dirty': formExtraccion.get('categoria')?.errors != null && formExtraccion.get('categoria')?.touched == true}"
                    formControlName="categoria"
                    >
                    <label>Categoría</label>
                </span>
              </div>

              <div class="field col-12 md:col-4" *ngIf="formExtraccion.controls['tipoExtraccion'].value == 'Casos de negocio' || formExtraccion.controls['tipoExtraccion'].value == 'Ordenes de servicio'">
                <span class="p-float-label">
                    <input
                    type="text"
                    pInputText
                    [ngClass]="{'ng-invalid ng-dirty': formExtraccion.get('motivo')?.errors != null && formExtraccion.get('motivo')?.touched == true}"
                    formControlName="motivo"
                    >
                    <label>Motivo</label>
                </span>
              </div>

              <div class="field col-12 md:col-4" *ngIf="formExtraccion.controls['tipoExtraccion'].value == 'Casos de negocio'">
                <span class="p-float-label">
                    <input
                    type="text"
                    pInputText
                    [ngClass]="{'ng-invalid ng-dirty': formExtraccion.get('subMotivo')?.errors != null && formExtraccion.get('subMotivo')?.touched == true}"
                    formControlName="subMotivo"
                    >
                    <label>SubMotivo</label>
                </span>
              </div>

              <div class="field col-12 md:col-4" *ngIf="formExtraccion.controls['tipoExtraccion'].value == 'Casos de negocio'">
                <span class="p-float-label">
                    <input
                    type="text"
                    [ngClass]="{'ng-invalid ng-dirty': formExtraccion.get('solucion')?.errors != null && formExtraccion.get('solucion')?.touched == true}"
                    pInputText
                    formControlName="solucion"
                    >
                    <label>Solución</label>
                </span>
              </div>

              <div class="field col-12 md:col-4" *ngIf="formExtraccion.controls['tipoExtraccion'].value == 'Actividades'">
                <span class="p-float-label">
                    <input
                    type="text"
                    pInputText
                    [ngClass]="{'ng-invalid ng-dirty': formExtraccion.get('areaConocimiento')?.errors != null && formExtraccion.get('areaConocimiento')?.touched == true}"
                    formControlName="areaConocimiento"
                    >
                    <label>Área de Conocimiento</label>
                </span>
              </div>
              <!-- <div class="field col-12 md:col-4" *ngIf="formExtraccion.controls['tipoExtraccion'].value == 'Actividades' || formExtraccion.controls['tipoExtraccion'].value == 'Ordenes de servicio'">
                <span class="p-float-label">
                    <p-calendar
                        [showIcon]="true"
                        dateFormat="yy-mm-dd"
                        [showTime]="true" 
                        [showSeconds]="true"
                        [ngClass]="{'ng-invalid ng-dirty': formExtraccion.get('fechaAsignacion')?.errors != null && formExtraccion.get('fechaAsignacion')?.touched == true}"
                        formControlName="fechaAsignacion">
                    </p-calendar>
                    <label for="inputdate">Fecha de Asignación</label>
                </span>
              </div> -->
              <div class="field col-12 md:col-4" *ngIf="formExtraccion.controls['tipoExtraccion'].value == 'Actividades' || formExtraccion.controls['tipoExtraccion'].value == 'Ordenes de servicio'">
                <span class="p-float-label">
                    
                  <p-calendar  formControlName="fechaAsignacion" selectionMode="range"  inputId="icon">
                  </p-calendar>
                  <label for="inputdate">Rango de Fechas</label>
              </span>
            </div>
              
              <!-- <div class="field col-12 md:col-4" *ngIf="formExtraccion.controls['tipoExtraccion'].value == 'Ordenes de servicio'">
                <span class="p-float-label">
                    <input
                    type="text"
                    pInputText
                    formControlName="rpt"
                    [ngClass]="{'ng-invalid ng-dirty': formExtraccion.get('rpt')?.errors != null && formExtraccion.get('rpt')?.touched == true}"
                    >
                    <label>RPT</label>
                </span>
              </div> -->
              <div class="field col-12 md:col-4" *ngIf="formExtraccion.controls['tipoExtraccion'].value == 'Ordenes de servicio'">
                <span class="p-float-label">
                    <input
                    type="text"
                    pInputText
                    [ngClass]="{'ng-invalid ng-dirty': formExtraccion.get('tipoOrden')?.errors != null && formExtraccion.get('tipoOrden')?.touched == true}"
                    formControlName="tipoOrden"
                    >
                    <label>Tipo de Orden</label>
                </span>
              </div>
              <!-- <div class="field col-12 md:col-4" *ngIf="formExtraccion.controls['tipoExtraccion'].value == 'Ordenes de servicio'">
                <span class="p-float-label">
                    <input
                    type="text"
                    pInputText
                    [ngClass]="{'ng-invalid ng-dirty': formExtraccion.get('asignada')?.errors != null && formExtraccion.get('asignada')?.touched == true}"
                    formControlName="asignada"
                    >
                    <label>Asignada</label>
                </span>
              </div> -->











                  
              <div class="col-12"></div>
              <!-- <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                      <p-calendar
                          [showIcon]="true"
                          [minDate]="today"
                          dateFormat="yy-mm-dd"
                          [showTime]="true" 
                          [showSeconds]="true"
                          formControlName="fechaini"
                          [ngClass]="{'ng-invalid ng-dirty': formExtraccion.get('fechaini')?.errors != null && formExtraccion.get('fechaini')?.touched == true}"
                      >
                      </p-calendar>
                      <label for="inputdate">Fecha Inicio</label>
                  </span>
                </div>
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                      <p-calendar
                          [showIcon]="true"
                          [minDate]="today"
                          dateFormat="yy-mm-dd"
                          [showTime]="true" 
                          [showSeconds]="true"
                          formControlName="fechafin"
                          [ngClass]="{'ng-invalid ng-dirty': formExtraccion.get('fechafin')?.errors != null && formExtraccion.get('fechafin')?.touched == true}"
                      >
                      </p-calendar>
                      <label for="inputdate">Fecha Fin</label>
                  </span>
                </div> -->
          </div>
          <!-- BOTON DE EJECUCION -->
          <div class="col lg:col-12">
      
            <div class="grid flex justify-content-center" *ngIf="!spinner">
              <div class="col-4 text-center" >
                
                <button
                  type="button"
                  pButton
                  label="Limpiar"
                  style="width:8rem;background-color: #FC760F;border: 0;"
                  (click)="reset()"
                  ></button>
              </div>
              <div class="col-4 text-center">
                  <button
                  type="button"
                  (click)="Enviar()"
                  pButton
                  label="Guardar"
                  style="width:8rem;background-color: #FC760F;border: 0;"></button>
      
              </div>
            </div>
            <div class="col-12 text-center" *ngIf="spinner">
              <p-progressSpinner ></p-progressSpinner>
            </div>
          </div>
          
        </p-panel>
        <br>
      
      </div>
</div>

<!-- <p-dialog
  [closable]="closeModal"
  header="Guardar Cancelación"
  [(visible)]="display"
  [modal]="true"
  showEffect="fade"
  [style]="{width: '30vw'}"
  [breakpoints]="{'960px': '75vw'}">
  <p class="line-height-3 m-0">
        Los datos a guardar son los siguientes:
    </p>

  <ul>
      <li>Tipo de Cuenta: <strong>{{formBolsa.value.tipoCuenta}}</strong></li>
      <li>Tipo de Proceso: <strong>{{formBolsa.value.tipoProceso}}</strong></li>
      <li>Cuenta: <strong>{{formBolsa.value.cuenta}}</strong></li>
      <li>País: <strong>{{formBolsa.value.pais}}</strong></li>
      <li>Paquete de Datos a Recargar: <strong>{{formBolsa.value.paqueteDatos}}</strong></li>
  </ul>
  <ng-template pTemplate="footer">

    <loading-button
      label="Guardar"
      labelLoad="Guardando"
      [loading]="enviando"
      (click)="sendData()"></loading-button>

  </ng-template>
</p-dialog> -->

<p-toast
  [baseZIndex]="99999"
  key="tst"></p-toast>

  <div class="row">
    <div class="cols">
      <div class="card">
        <p-table #dt1 [value]="datosExtraccion" dataKey="id" [loading]="loading" [rows]="50" [rowHover]="true" [rowsPerPageOptions]="[50,100,500,1000]"
            styleClass="p-datatable-gridlines" [paginator]="true"
            [globalFilterFields]="['tipoExtraccion','archivo','cve_usuario','fechaCompletado','status','procesando']" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">

                    <span class="p-input-icon-left mb-2">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Buscar"
                            class="w-full" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <div style="width: 150px;" class="flex justify-content-between align-items-center">
                            Tipo de Extracción

                        </div>
                    </th>
                    <th>
                        <div style="width: 150px;" class="flex justify-content-between align-items-center">
                            Fecha de Extracción

                        </div>
                    </th>
                    <th>
                      <div class="flex justify-content-between align-items-center">
                          Usuario
                      </div>
                    </th>
                    <th>
                        <div style="width: 150px;" class="flex justify-content-between align-items-center">
                            Fecha Completado
                        </div>
                      </th>
                      <th>
                      <div class="flex justify-content-between align-items-center">
                          Estatus
                      </div>
                    </th>
                    <th>
                      <div style="width: 150px;" class="flex justify-content-between align-items-center">
                          Procesando
                      </div>
                    </th>
                    <th>
                      <div class="flex justify-content-between align-items-center">
                          Archivo
                      </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-i="rowIndex">
                <tr>
                    <td>
                      {{item.tipoExtraccion}}
                    </td>
                    <td>
                      {{item.fechaExtraccion ? dateFormat(item.fechaExtraccion):""}}
                    </td>
                    <td>
                      {{item.cve_usuario}}
                    </td>
                    <td class="text-center">
                      {{item.fechaCompletado ? dateFormat(item.fechaCompletado):""}}
                    </td>
                    <td>
                      {{item.status}}
                    </td>
                    <td class="text-center">
                      {{item.procesando == 1 ? "Si":""}}
                    </td>
                    <td *ngIf="item.archivo">
                      <!-- {{item.archivo}} -->
                        <button pButton  style="background-color: #e0e76df9;border: 0;" label="Descargar" (click)="descargarArchivo(item.archivo)"></button>
                        <!-- <button (click)="descargarArchivo(item.archivo)">Descargar</button> -->
                      </td>
                      <td *ngIf="!item.archivo">
                      <button pButton disabled style="background-color: grey;border: 0;" label="Descargar" (click)="descargarArchivo(item.archivo)"></button>
                      <!-- {{item.archivo}} -->
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">Sin Datos para Mostrar.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="7">Cargando Datos, espere...</td>
                </tr>

            </ng-template>
            <ng-template pTemplate="paginatorleft" let-state>
                Mostrando {{(state.page  * state.rows) + 1}} a {{state.rows * (state.page + 1)}} de {{state.totalRecords}} registros.
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  <div *ngIf="show" style="display: none;">
    <iframe id="report" height="1000" width="1000" [src]="url1 | safeUrl"></iframe>
  </div>


