<div class="text-900 font-bold text-2xl mb-4 text-center" style="background-color: #FF7987;border: 0;color: white !important;">Bases Canceladas CC Y EXT</div>

<div class="card" >
    <p-panel header="Estadisticas de las Bases Canceladas" class="line-height-12 m-0" >

        <p-table [value]="stats" [tableStyle]="{ 'min-width': '50rem' }" class="flex align-items-center justify-content-center centered-table" >
            <ng-template pTemplate="header" >
                <tr >
                    <th style="background-color: #FF7987; color: white;">Base</th>
                    <th style="background-color: #FF7987; color: white;">Pendientes</th>
                    <th style="background-color: #FF7987; color: white;">Procesando</th>
                    <th style="background-color: #FF7987; color: white;">Error</th>
                    <th style="background-color: #FF7987; color: white;">Completadas</th>
                    <th style="background-color: #FF7987; color: white;">Total</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{ product.base }}</td>
                    <td>{{ product.pendientes }}</td>
                    <td>{{ product.procesando }}</td>
                    <td>{{ product.error }}</td>
                    <td>{{ product.completado }}</td>
                    <td>{{ product.total }}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>
</div>

<div class="card">
    <p-panel header="Consulta las Bases Canceladas" class="line-height-12 m-0" >
        <div class="container">
            <form [formGroup]="formBusqueda" class="flex align-items-center justify-content-center">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-12">
                        <span class="p-float-label">
                            <input
                            type="text"
                            pInputText
                            formControlName="cuenta"
                            >
                            <label>Número de Orden</label>
                        </span>
                    </div>
                    <div class="col-12 text-center">
                        <button
                        (click)="buscar()"
                        pButton
                        label="Buscar"
                        style="width:auto;"></button>      
                    </div>
                </div>
            </form>
        </div>
        <div class="container" style="padding-top: 2rem;">
            <div class="row">
                <div >
                    <div class="p-fluid p-formgrid grid p-2">
                        <div  *ngFor="let item1 of consulta | keyvalue" style="padding-right: 1rem;">
                            <!-- <input class="field col-12 md:col-4" type="text" [value]="item.value"> -->
                                <span class="p-float-label" class="field col-12 md:col-4">
                                    <label>{{primeraLetraMayuscula(item1.key)}}</label>
                                    <input
                                    type="text"
                                    pInputText
                                    [value]="item1.value"
                                    style="width: 100%;"
                                    readonly
                                    >
                                </span>
                                <br>
                                <br>
                                <br>
                        </div>

                        <!-- <div class="field col-12 md:col-4" >
                            <span class="p-float-label">
                                <input
                                type="text"
                                pInputText
                                [value]="item.base"
                                class="field col-12 md:col-4"
                                >
                                <label>Base</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-4" >
                            <span class="p-float-label">
                                <input
                                type="text"
                                pInputText
                                [value]="item.cuenta"
                                >
                                <label>Cuenta</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-4" >
                            <span class="p-float-label">
                                <input
                                type="text"
                                pInputText
                                [value]="item.comentarios"
                                >
                                <label>Comentarios</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-4" >
                            <span class="p-float-label">
                                <input
                                type="text"
                                pInputText
                                [value]="item.compania"
                                >
                                <label>Compañia</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-4" >
                            <span class="p-float-label">
                                <input
                                type="text"
                                pInputText
                                [value]="item.estado"
                                >
                                <label>Estado</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-4" >
                            <span class="p-float-label">
                                <input
                                type="text"
                                pInputText
                                [value]="item.fechaCarga"
                                >
                                <label>Fecha de carga</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-4" >
                            <span class="p-float-label">
                                <input
                                type="text"
                                pInputText
                                [value]="item.hub"
                                >
                                <label>Hub</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-4" >
                            <span class="p-float-label">
                                <input
                                type="text"
                                pInputText
                                [value]="item.motivoOrden"
                                >
                                <label>Motivo de la Orden</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-4" >
                            <span class="p-float-label">
                                <input
                                type="text"
                                pInputText
                                [value]="item.nodo"
                                >
                                <label>Nodo</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-4" >
                            <span class="p-float-label">
                                <input
                                type="text"
                                pInputText
                                [value]="item.numOrden"
                                >
                                <label>Número de Orden</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-4" >
                            <span class="p-float-label">
                                <input
                                type="text"
                                pInputText
                                [value]="item.procesando"
                                >
                                <label>Procesando</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-4" >
                            <span class="p-float-label">
                                <input
                                type="text"
                                pInputText
                                [value]="item.status"
                                >
                                <label>Status</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-4" >
                            <span class="p-float-label">
                                <input
                                type="text"
                                pInputText
                                [value]="item.tipo"
                                >
                                <label>Tipo</label>
                            </span>
                        </div> -->
                                                

                    </div>
                </div>
            </div>
        </div>
    </p-panel>
</div> 
<!-- <p-dialog
  [closable]="closeModal"
  header="Guardar"
  [(visible)]="display"
  [modal]="true"
  showEffect="fade"
  [style]="{width: '30vw'}"
  [breakpoints]="{'960px': '75vw'}">
  <p class="line-height-3 m-0">
        Los datos a guardar son los siguientes:
    </p>

  <ul>
    <li>Tipo de Cuenta: <strong>{{formCambioEsquema.value.tipoCuenta}}</strong></li>
    <li>Cuenta: <strong>{{formCambioEsquema.value.cuenta}}</strong></li>
    <li>País: <strong>{{formCambioEsquema.value.pais}}</strong></li>
    <li>Tipo de Cambio: <strong>{{formCambioEsquema.value.tipoCambio}}</strong></li>
    <li>Número de Dispositivo: <strong>{{formCambioEsquema.value.numDispositivos}}</strong></li>
  </ul>
  <ng-template pTemplate="footer">

    <loading-button
      label="Guardar"
      labelLoad="Guardando"
      [loading]="enviando"
      (click)="sendData()"></loading-button>

  </ng-template>
</p-dialog> -->

<p-toast
  [baseZIndex]="99999"
  key="tst"></p-toast>

  <!-- <div class="row">
    <div class="cols">
      <div class="card">
        <p-table #dt1 [value]="cambioPaqueteEsquemaDia" dataKey="id" [loading]="loading" [rows]="50" [rowHover]="true" [rowsPerPageOptions]="[50,100,500,1000]"
            styleClass="p-datatable-gridlines" [paginator]="true"
            [globalFilterFields]="['tipoCuenta','cuenta','pais','tipoCambio','numDispositivos','status']" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">

                    <span class="p-input-icon-left mb-2">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Buscar"
                            class="w-full" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Tipo de Cuenta

                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Cuenta

                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Pais
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Tipo de Cambio
                        </div>
                    </th>
                    <th>
                      <div class="flex justify-content-between align-items-center">
                          Número de Dispositivos
                      </div>
                    </th>
                    <th>
                      <div class="flex justify-content-between align-items-center">
                          Estatus
                      </div>
                    </th>
                    <th>
                      <div class="flex justify-content-between align-items-center">
                          Fecha Captura
                      </div>
                    </th>
  
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-i="rowIndex">
                <tr>
                    <td>
                      {{item.tipoCuenta}}
                    </td>
                    <td>
                        {{item.cuenta}}
                    </td>
                    <td>
                        {{item.pais}}
                    </td>
                    <td>
                       {{item.tipoCambio}}
                    </td>
                    <td>
                      {{item.numDispositivos}}
                    </td>
                    <td>
                      {{item.status}}
                    </td>
                    <td>
                      {{item.fechaCaptura}}
                    </td>
    
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">Sin Datos para Mostrar.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="7">Cargando Datos, espere...</td>
                </tr>

            </ng-template>
            <ng-template pTemplate="paginatorleft" let-state>
                Mostrando {{(state.page  * state.rows) + 1}} a {{state.rows * (state.page + 1)}} de {{state.totalRecords}} registros.
          </ng-template>
        </p-table>
      </div>
    </div>
  </div> -->
