<div class="text-900 font-bold text-2xl mb-4 text-center" style="background-color: #E80084;border: 0;color: white !important;">Bases Cancelacion OS CC</div>

<div class="card" >
    <p-panel header="EstadÍsticas Cancelación OS" class="line-height-12 m-0" >

        <div class="p-grid p-dir-col p-nogutter">
            <div class="p-col">
                <p-table [value]="stats"  [scrollable]="true" [scrollHeight]="'auto'" [responsive]="true" class="flex align-items-center justify-content-center centered-table p-datatable-responsive" >
                    <ng-template pTemplate="header" >
                        <tr >
                            <th style="background-color: #FFC0CB; color: white;">Base</th>
                            <th style="background-color: #FFC0CB; color: white;">Pendientes</th>
                            <th style="background-color: #FFC0CB; color: white;">Procesando</th>
                            <th style="background-color: #FFC0CB; color: white;">Error</th>
                            <th style="background-color: #FFC0CB; color: white;">Completadas</th>
                            <th style="background-color: #FFC0CB; color: white;">Total</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>{{ product.base }}</td>
                            <td>{{ product.pendientes }}</td>
                            <td>{{ product.procesando }}</td>
                            <td>{{ product.error }}</td>
                            <td>{{ product.completado }}</td>
                            <td>{{ product.total }}</td>
                        </tr>
                    </ng-template>
                </p-table>

            </div>
          </div>

    </p-panel>
</div>

<div class="card">
    <p-panel header="Consulta las Bases Canceladas" class="line-height-12 m-0" >
        <div class="container">
            <form [formGroup]="formBusqueda" class="flex align-items-center justify-content-center">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-12">
                        <span class="p-float-label">
                            <input
                            type="text"
                            pInputText
                            formControlName="cuenta"
                            >
                            <label>Número de Orden</label>
                        </span>
                    </div>
                    <div class="col-12 text-center">
                        <button
                        (click)="buscar()"
                        pButton
                        label="Buscar"
                        style="width:auto; color: white;background-color: #FFC0CB; border-color: #FFC0CB;"></button>      
                    </div>
                </div>
            </form>
        </div>
        <div class="container" style="padding-top: 2rem;">
            <div class="row">
                <div >
                    <div class="p-fluid p-formgrid grid p-2">
                        <div  *ngFor="let item1 of consulta | keyvalue" style="padding-right: 1rem;" class="field col-12 md:col-4">
                            <!-- <input class="field col-12 md:col-4" type="text" [value]="item.value"> -->
                            <label>{{primeraLetraMayuscula(item1.key)}}</label>
                                <span class="p-float-label" >
                                    <input
                                    type="text"
                                    pInputText
                                    [value]="item1.value"
                                    style="width: 100%;"
                                    readonly
                                    >
                                </span>
                                <br>
                                <br>
                                <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </p-panel>
</div> 

<p-toast
  [baseZIndex]="99999"
  key="tst"></p-toast>

 