<div class="text-900 font-bold text-2xl mb-4 text-center" style="border-radius: 10px;margin: 0 16rem 0 16rem;background-color: orange;">Extracción</div>

    <div class="card" style="padding-left: 1rem;">
        <p-panel header=""
          class="line-height-12 m-0">
          <!-- INICIO DE INPUTS -->
          <!-- <h5>Tipo de Cuenta</h5> -->
          <div class="p-fluid p-formgrid grid">
            <div class="col-4 text-center">
                <button
                    type="button"
                    pButton
                    label="jalar"
                    style="width:8rem;"
                    (click)="prueba()"
                    
                ></button>
            </div>

          </div>
                 
          <div class="col-12"></div>
        <!-- BOTON DE EJECUCION -->
        <div class="col lg:col-12">
            <div class="grid flex justify-content-between">
                <div class="col-4 text-center">
                    <button
                        type="button"
                        pButton
                        label="Exportar Base"
                        style="width:8rem;"
                        
                    ></button>
                </div>
                <div class="col-4 text-center">
                    <button
                        type="button"
                        pButton
                        label="Asignar"
                        style="width:8rem;height: 4.5rem;"
                        
                    ></button>
                </div>
                <div class="col-4 text-center">
                    <button
                    type="button"
                    pButton
                    label="Atrás"
                    [routerLink]="['/extraccion']"
                    style="width:8rem;height: 4.5rem;"></button>
                </div>
            </div>
        </div>
        
    </p-panel>
    <br>

    </div>



