 <div class="row">
    <div class="cols">
      <div class="card">
        <p-table #dt1 [value]="tabla" dataKey="id" [loading]="loading" [rows]="50" [rowHover]="true" [rowsPerPageOptions]="[50,100,500,1000]"
            styleClass="p-datatable-gridlines" [paginator]="true"
            [globalFilterFields]="['cuenta','casoNegocio']" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">

                    <span class="p-input-icon-left mb-2">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Buscar"
                            class="w-full" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Cuenta

                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Caso de Negocio

                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Estado
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Fecha Compleltado
                        </div>
                    </th>
                    <th>
                      <div class="flex justify-content-between align-items-center">
                          Fecha Vencimiento
                      </div>
                    </th>
                    <!-- <th>
                      <div class="flex justify-content-between align-items-center">
                          Motivo
                      </div>
                    </th>
                    <th>
                      <div class="flex justify-content-between align-items-center">
                          Motivo Cliente
                      </div>
                    </th> -->
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Procesando
                        </div>
                      </th>

                      <th>
                        <div class="flex justify-content-between align-items-center">
                            Estatus
                        </div>
                      </th>
  
  
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-i="rowIndex">
                <tr>
                    <td>
                      {{item.cuenta}}
                    </td>
                    <td>
                        {{item.casoNegocio}}
                    </td>
                    <td>
                        {{item.estado}}
                    </td>
                    <td>
                       {{dateFormat(item.fechaCompletado)}}
                    </td>
                    <td>
                      {{dateFormat(item.fechaVencimiento)}}
                    </td>
                    <!-- <td>
                      {{item.motivo}}
                    </td>
                    <td>
                      {{item.motivoCliente}}
                    </td> -->
                    <td>
                        {{item.procesando}}
                    </td>
                    <td>
                        {{item.status}}
                    </td>
    
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">Sin Datos para Mostrar.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="7">Cargando Datos, espere...</td>
                </tr>

            </ng-template>
            <ng-template pTemplate="paginatorleft" let-state>
                Mostrando {{(state.page  * state.rows) + 1}} a {{state.rows * (state.page + 1)}} de {{state.totalRecords}} registros.
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

