
.spacio {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinea los elementos verticalmente */
    padding: 100px;
    width: 100%; /* Asegúrate de que el contenedor ocupe todo el ancho disponible */
}
.home-button {
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 1000; /* Asegúrate de que el botón esté por encima de otros elementos */
}