<div class="component__content">
     <app-breadcrumb [pageTitle]="'Cargar Plantilla'"></app-breadcrumb>
 
     <h3 class="instruct" [style]=" mode ? 'color: white;' : 'color: black;' ">Carga una plantilla para actualizar analistas y ejecutivos:</h3>

     <div class="fields">


          <div class="actions">
               <p-fileUpload #fileUpload mode="basic" chooseLabel="Ejecutivos" accept=".xlsx" (onSelect)="readExcel($event)"></p-fileUpload>
               <button pButton pRipple label="Guardar" class="p-button-success" (click)="cargarEjecutivos()" [disabled]="!showButton">
                    <i class="pi pi-spin pi-spinner" *ngIf="guardando" style="font-size: 1rem; margin-right: 10px"></i>
               </button>
          </div>
     </div>
 </div>
 
 <p-toast></p-toast>